{{layout "bitflipped_layout_wrapper.vto"}}
<article class="min-h-30 text-xl/9 text-center lg:text-xl/8 my-10 font-bold">
  {{ content }}
</article>
<ul class="next text-left text-3xl lg:text-3xl w-fit ">
  {{ for item of nav.menu(url).children }}
      <li class="my-2">
          ><a class="underline" href={{item.data.url}}>{{item.data.basename}}.{{item.data.title}}</a>
      </li>
  {{ /for }}
</ul>
{{/layout}}
