
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
 <title>{{ title }}</title>
 <link rel="stylesheet" href="/tailwind.css" />
 <link rel="stylesheet" href="/bitflipped.css" />
  </head>
  <body class="flex flex-col items-center bg-bf_bg">
 <ul class="menu w-100% flex flex-row justify-center mt-1">
    {{ if url != "/" }}
        {{ include "./bitflipped_menu_item.vto" { _url: "/", _title: "home", _hidden: false, _children: nil } }}
    {{ /if }}
    {{ for item of nav.menu().children }}
        {{ include "./bitflipped_menu_item.vto" { _url: item.data.url, _title: item.data.title, _hidden: item.data.hidden, _children: item.children } }}
    {{ /for }}
  </ul>

 <div class="w-100% flex flex-col items-center mx-1">
  {{content}}
  </div>
  </body>
</html>
