
{{ if _url && !_hidden && _url !== url}}
    <li class="w-fit h-fit ">
  <a class="underline m-2 m-4 text-3xl hover:text-primary" href="{{ _url }}">
    {{ _title }}
  </a>
  </li>
{{ /if }}

<ul>
  {{ for child of _children }}
  <li>
    {{ include "bitflipped_menu_item.vto" { _url: child?.data?.url, _title: child?.data?.title, _hidden: child?.data?.hidden, _children: child?.children } }}
  </li>
  {{ /for }}
</ul>
