{{ if item.data.url && !item.data.hidden}}
  <a class="underline m-2 m-4 hover:text-primary" href="{{ item.data.url }}">
    {{ item.data.title }}
  </a>
{{ /if }}

<ul>
  {{ for child of item.children }}
  <li>
    {{ include "./bitflipped_menu_item.vto" { item: child } }}
  </li>
  {{ /for }}
</ul>
