<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
 <title>{{ title }}</title>
 <link rel="stylesheet" href="tailwind.css" />
 <link rel="stylesheet" href={{css}} />
  </head>
  <body class="flex justify-center bg-red-100">
  <ul class="menu">
    {{ for item of nav.menu().children }}
      <li>
        {{ include "./menu_item.vto" { item } }}
      </li>
    {{ /for }}
  </ul>

  <section class="m-24 h-fit p-4 bg-background ">
    <article class="md">
    {{ content }}
    </article>
  </section>
  </body>
</html>
