{{layout "main_layout_wrapper.vto"}}
<h1 class="font-coral-pixels text-wych-purple text-8xl lg:text-6xl mt-14">{ {{title}} }</h1>
<section class="w-11/12 lg:w-1/2  mt-24 h-fit p-4 border-solid border-wych-purple border-8 xl:border-4 rounded">
    <article class="prose prose-2xl prose-p:text-xl/8 lg:prose-p:text-xl/8 prose-h2:text-3xl prose-headings:text-center prose-li:text-xl lg:prose-li:text-xl/8 lg:prose-base prose-headings:text-wych-purple prose-li:list-image-[url(/assets/star.svg)] prose-p:font-alegreya prose-li:font-alegreya">
    {{ content }}
    </article>
  </section>
{{/layout}}
