
{{ if _url && !_hidden && _url !== url}}
<li class="w-fit h-fit m-8">
  <a class="text-white text-2xl font-sen lg:text-2xl lg:rounded bg-wych-purple p-2 rounded-xl hover:bg-wych-rose" href="{{ _url }}">
    {{ _title }}
  </a>
</li>
{{ /if }}
