{{ if item.data.url && !item.data.hidden}}
  <a class="text-white text-6xl lg:text-2xl lg:rounded bg-wych-frog p-2 rounded-xl hover:bg-wych-rose" href="{{ item.data.url }}">
    {{ item.data.title }}
  </a>
{{ /if }}

<ul>
  {{ for child of item.children }}
  <li>
    {{ include "./menu_item.vto" { item: child } }}
  </li>
  {{ /for }}
</ul>
